@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0 auto;
  font-family: "Castoro", serif;
  line-height: 1.5;
  box-sizing: border-box;
  font-weight: 400;
}

.margin {
  margin: 0px;
}

.margin-auto {
  margin: 0 auto;
}

.margin-y-both {
  margin: 0px 312px;
}

.margin-top-5 {
  margin-top: 80px;
}

.margin-top-1 {
  margin-top: 16px;
}

.margin-top-3 {
  margin-top: 48px;
}

.margin-top-80px {
  margin-top: 80px;
}

.margin-top-7 {
  margin-top: 112px;
}

.padding-x-3 {
  padding: 48px 0px;
}

.padding-top-10 {
  padding-top: 160px;
}

.padding-y-both {
  padding: 0px 312px;
}

.font-size {
  font-size: 16px;
}

.font-size-ss {
  font-size: 32px;
}

.font-size-base {
  font-size: 24px;
}

.font-size-sm {
  font-size: 60px;
}

.font-size-md {
  font-size: 96px;
}

.font-size-128 {
  font-size: 128px;
}

.font-size-lg {
  font-size: 160px;
}

.font-size-2 {
  font-size: 32px;
}

.font-size-8 {
  font-size: 128px;
}

.font-color {
  color: #ae0000;
}

.font-color-light {
  color: #949494;
}

.d-flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.width-100 {
  width: 100%;
}

.width-38 {
  width: 38%;
}

.width-45 {
  width: 45%;
}

.width-47 {
  width: 47%;
}

.width-48 {
  width: 48%;
}

.width-50 {
  width: 50%;
}

.width-96 {
  width: 96%;
}

.width-400px {
  width: 400px;
}

.width-636px {
  width: 636px;
}

.text-end {
  text-align: end;
}

.bg-color {
  background-color: #efefef;
}

.bg-color2 {
  background-color: #000000;
}

.border-bottom {
  border-bottom: 4px solid #ae0000;
  line-height: 40px;
}

.nots h2:not(first-child) {
  margin-top: 40px;
}

.nots p:not(last-child) {
  margin-bottom: 20px;
}

.mt li:nth-child(1) {
  margin-top: 16px;
}

.italic {
  font-style: italic;
}

.container small:nth-of-type(n) {
  font-style: italic;
}

.awards li:nth-of-type(n) {
  margin-bottom: 20px;
}

footer img:nth-child(n) {
  margin: 20px;
  padding: 20px 0px;
}

img {
  max-width: 100%;
  height: auto;
}

.text-decoration-none {
  text-decoration: none;
  color: black;
}

.line-height-2 {
  line-height: 32px;
}

.line-height-3 {
  line-height: 48px;
}

.line-height-225 {
  line-height: 36px;
}

.line-height-375 {
  line-height: 60px;
}

.line-height-12 {
  line-height: 192px;
}

.line-height-27 {
  line-height: 432px;
}

.container {
  max-width: 1272px;
  margin: 0 auto;
}

/*# sourceMappingURL=all.css.map */