body {
    margin: 0 auto;
    font-family: "Castoro Titling", cursive;
    line-height: 1.5;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
  
  $rem: 16px;
  $space: 1%;
  $bg-color: #efefef;
  $bg-color2: #000000;
  $font-color: #ae0000;
  $font-color-light: #949494;
  
  .margin {
    margin: 0px;
    &-auto {
      margin: 0 auto;
    }
    &-y-both {
      margin: 0px $rem * 19.5;
    }
    &-top-5 {
      margin-top: $rem * 5;
    }
    &-top-1 {
      margin-top: $rem;
    }
    &-top-3 {
      margin-top: $rem * 3;
    }
    &-top-7 {
      margin-top: $rem * 7;
    }
  }
  
  .padding {
    &-x-3 {
      padding: $rem * 3 0px;
    }
    &-top-10 {
      padding-top: $rem * 10;
    }
    &-y-both {
      padding: 0px $rem * 19.5;
    }
  }
  
  .font-size {
    font-size: $rem;
    &-ss {
      font-size: $rem * 1.25;
    }
    &-base {
      font-size: $rem * 1.5;
    }
    &-sm {
      font-size: $rem * 3.75;
    }
    &-md {
      font-size: $rem * 6;
    }
    &-lg {
      font-size: $rem * 10;
    }
    &-2 {
      font-size: $rem * 2;
    }
    &-8 {
      font-size: $rem * 8;
    }
  }
  
  .font-color {
    color: $font-color;
  }
  
  .font-color-light {
    color: $font-color-light;
  }
  
  .d-flex {
    display: flex;
  }
  
  .wrap {
    flex-wrap: wrap;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .justify-end {
    justify-content: flex-end;
  }
  
  .width {
    &-100 {
      width: $space * 100;
    }
    &-38 {
      width: $space * 38;
    }
    &-50 {
      width: $space * 50;
    }
  }
  
  .text-end {
    text-align: end;
  }
  
  .line-height {
    &-2 {
      line-height: $rem * 2;
    }
    &-3 {
      line-height: $rem * 3;
    }
  }
  
  .bg-color {
    background-color: $bg-color;
  }
  
  .bg-color2 {
    background-color: $bg-color2;
  }
  
  .border-bottom {
    border-bottom: 4px solid $font-color;
    line-height: $rem * 5;
  }
  
  .nots h2:not(first-child) {
    margin-top: 40px;
  }
  
  .nots p:not(last-child) {
    margin-bottom: 20px;
  }
  
  .mt li:nth-child(1) {
    margin-top: $rem;
  }
  
  .italic {
    font-style: italic;
  }
  
  .container small:nth-of-type(n) {
    font-style: italic;
  }
  
  .awards li:nth-of-type(n) {
    margin-bottom: 20px;
  }
  
  footer img:nth-child(n) {
    margin: 20px;
    padding: 20px 0px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .text-decoration-none {
    text-decoration: none;
    color: black;
  }
  